In [2]:
RDATE1_1 = '31/12/2021'

RDATE = 202112
RDATE1 = 20211231

import numpy as np
import pandas as pd
import pandasql
import sqlite3

pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

unit_trust = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\06_Unit_Trust\04_Dataset\\"+str(RDATE1)+"\\UT_"+str(RDATE1)+".txt", sep = "\t", header = 0, error_bad_lines = False) #, encoding='cp1252'


asb_base = unit_trust.rename(columns = {'M_NPL_DATE':'M_NPL_DATE1'})

asb_base1 = asb_base.iloc[np.where((asb_base.MBB_Entity_Cd=='I')&(asb_base.PRODUCT_DESC.str.contains('ASB')))]

asb_base1.loc[asb_base1.M_NPL_DATE1=='?','M_NPL_DATE1'] = '00/00/0000'

asb_base1['M_NPL_DATE'] = asb_base1.M_NPL_DATE1.str[-4:]+asb_base1.M_NPL_DATE1.str[-7:-5]

asb_base1['OSM'] = asb_base1.Account_Balance_Summary_Amt/1000000

asb_base1['NOA'] = 1

#/* 2 MIA */ 
asb_base1.loc[(asb_base1.M_NPL_FLG!='Y')&(asb_base1.M_Mths_Installment_In_Arrears==2),'OSM_MIA2'] = asb_base1.Account_Balance_Summary_Amt/1000000
asb_base1.loc[(asb_base1.M_NPL_FLG!='Y')&(asb_base1.M_Mths_Installment_In_Arrears==2),'NOA_MIA2'] = 1

#/* 3 MIA */
asb_base1.loc[(asb_base1.M_NPL_FLG!='Y')&(asb_base1.M_Mths_Installment_In_Arrears==3),'OSM_MIA3'] = asb_base1.Account_Balance_Summary_Amt/1000000
asb_base1.loc[(asb_base1.M_NPL_FLG!='Y')&(asb_base1.M_Mths_Installment_In_Arrears==3),'NOA_MIA3'] = 1

#/* IF */
asb_base1.loc[asb_base1.M_NPL_FLG=='Y','OSM_IF'] = asb_base1.Account_Balance_Summary_Amt/1000000
asb_base1.loc[asb_base1.M_NPL_FLG=='Y','NOA_IF'] = 1

#/* NCIF */
asb_base1.loc[asb_base1.M_NPL_DATE==str(RDATE),'OSM_NCIF'] = asb_base1.Account_Balance_Summary_Amt/1000000
asb_base1.loc[asb_base1.M_NPL_DATE==str(RDATE),'NOA_NCIF'] = 1

def TENURE(x):
    if x <= 5:
        return '01.UP TO 5 YEARS'
    elif x > 5 and x <= 10:
        return '02.6 TO 10 YEARS'
    elif x > 5 and x <= 15:
        return '03.11 TO 15 YEARS'
    elif x > 5 and x <= 20:
        return '04.16 TO 20 YEARS'
    elif x > 5 and x <= 25:
        return '05.21 TO 25 YEARS'
    elif x > 5 and x <= 30:
        return '06.26 TO 30 YEARS'
    elif x > 30:
        return '07.ABOVE 30 YEARS'
    else:
        return 'Not Populated'

asb_base1['LOAN_TENURE_GROUP'] = asb_base1.MBB_Loan_Tenure.apply(TENURE)

asb_base1.loc[asb_base1.M_Date_First_Released=='?','M_Date_First_Released'] = asb_base1.M_Date_AA_Approved
asb_base1['MATURITY_DATE'] = asb_base1.M_Date_First_Released.str[-4:].astype(int) + asb_base1.MBB_Loan_Tenure


asb_base1['REMAINING_TENURE'] =  asb_base1['MATURITY_DATE'] - int(str(RDATE)[:4]) 

asb_base1['REM_TENURE_GROUP'] = asb_base1.REMAINING_TENURE.apply(TENURE)

asb_base1['MOB'] = (pd.to_numeric((pd.to_datetime(RDATE1_1, format='%d/%m/%Y') - pd.to_datetime(asb_base1['M_Date_First_Released'], format='%d/%m/%Y')).dt.days, downcast='integer')/30.417) + 1

asb_base1['YEAR_APPROVED'] = asb_base1.M_Date_AA_Approved.str[-4:]

def INCOM(x):
    if x == 'Up to RM999':
        return '01.Below RM3,000'
    elif x == 'RM1,000 to RM1,999':
        return '01.Below RM3,000'
    elif x == 'RM2,000 to RM2,999':
        return '01.Below RM3,000'
    elif x == 'RM3,000 to RM3,999':
        return '02.RM3,000 to RM5,000'
    elif x == 'RM4,000 to RM4,999':
        return '02.RM3,000 to RM5,000'
    elif x == 'RM5,000 to RM5,999':
        return '03.RM5,000 to RM8,000'
    elif x == 'RM6,000 to RM6,999':
        return '03.RM5,000 to RM8,000'
    elif x == 'RM7,000 to RM7,999':
        return '03.RM5,000 to RM8,000'
    elif x == 'RM8,000 to RM8,999':
        return '04.RM8,000 to RM15,000'
    elif x == 'RM9,000 to RM9,999':
        return '04.RM8,000 to RM15,000'
    elif x == 'RM10,000 to RM10,999':
        return '04.RM8,000 to RM15,000'
    elif x == 'RM11,000 to RM14,999':
        return '04.RM8,000 to RM15,000'
    elif x == 'RM15,000 to RM20,000':
        return '05.RM15,000 to RM20,000' 
    elif x == 'Above RM20,000':
        return '06.Above RM20,000'
    else:
        return 'Not Populated'
                
asb_base1['INCOME_GROUP_NEW'] = asb_base1['Income_Group'].apply(INCOM)

def CUSTSEG(x):
    if x == 'MASS':
        return '01.Mass'
    elif x == 'EMERGING AFFLUENT':
        return '02.Emerging Affluent'
    elif x == 'AFFLUENT':
        return '03.Affluent'
    elif x == 'HIGH NETWORTH':
        return '04.High Networth'
    else:
        return '05.Not Populated'

asb_base1['SEGMENT_GROUP'] = asb_base1['CUSTOMER_SEGMENT'].apply(CUSTSEG)

asb_base1.loc[asb_base1.Age_Group == "Not Populated", 'AGE_GROUP_NEW'] = "09.Not Populated"
asb_base1.loc[asb_base1.Age_Group == "<25 years", 'AGE_GROUP_NEW'] = "01.Up to 24 years"
asb_base1.loc[asb_base1.Age_Group == ">25 to <30 years", 'AGE_GROUP_NEW'] = "02.25 to 29 Years Old"
asb_base1.loc[asb_base1.Age_Group == "30 to <35 years", 'AGE_GROUP_NEW'] = "03.30 to 34 Years Old"
asb_base1.loc[asb_base1.Age_Group == "35 to <40 years", 'AGE_GROUP_NEW'] = "04.35 to 39 Years Old"
asb_base1.loc[asb_base1.Age_Group == "40 to <45 years", 'AGE_GROUP_NEW'] = "05.40 to 44 Years Old"
asb_base1.loc[asb_base1.Age_Group == "45 to <50 years", 'AGE_GROUP_NEW'] = "06.45 to 49 Years Old"
asb_base1.loc[asb_base1.Age_Group == "50 to <55 years", 'AGE_GROUP_NEW'] = "07.50 to 54 Years Old"
asb_base1.loc[asb_base1.Age_Group == "55 years and above", 'AGE_GROUP_NEW'] = "08.55 Years & Above"

asb_base1.loc[asb_base1.Region ==  "JOHOR/MELAKA", 'REGION_GROUP'] = "01.JOHOR/MELAKA"
asb_base1.loc[asb_base1.Region ==  "PENANG/KEDAH/PERLIS", 'REGION_GROUP'] = "02.PENANG/KEDAH/PERLIS"
asb_base1.loc[asb_base1.Region ==  "PAHANG/KELANTAN/TERENGGANU", 'REGION_GROUP'] = "03.PAHANG/KELANTAN/TERENGGANU"
asb_base1.loc[asb_base1.Region ==  "SELANGOR/NS", 'REGION_GROUP'] = "04.SELANGOR/NS"
asb_base1.loc[asb_base1.Region ==  "PERAK", 'REGION_GROUP'] = "05.PERAK"
asb_base1.loc[asb_base1.Region ==  "SABAH", 'REGION_GROUP'] = "06.SABAH"
asb_base1.loc[asb_base1.Region ==  "SARAWAK", 'REGION_GROUP'] = "07.SARAWAK"
asb_base1.loc[asb_base1.Region ==  "FEDERAL TERRITORY", 'REGION_GROUP'] = "08.FEDERAL TERRITORY"
asb_base1.loc[asb_base1.Branch ==  "IBS DONGGONGON", 'REGION_GROUP'] = "06.SABAH"
asb_base1.loc[asb_base1.Branch.str.contains("IBS MENARA FELDA, PLATINUM PARK SC"), 'REGION_GROUP'] = "08.FEDERAL TERRITORY"
asb_base1.loc[asb_base1.Branch.str.contains("IBS MATANG JAYA"), 'REGION_GROUP'] = "07.SARAWAK"
asb_base1.loc[asb_base1.Branch.str.contains("IBS ONE CITY USJ"), 'REGION_GROUP'] = "04.SELANGOR/NS"
asb_base1.loc[asb_base1.Branch.str.contains("IBS AEON MALL SHAH ALAM"), 'REGION_GROUP'] = "04.SELANGOR/NS"

asb_base1.loc[asb_base1.RACE_DESC == "CHINESE", 'RACE'] = "01. CHINESE"
asb_base1.loc[asb_base1.RACE_DESC == "INDIAN", 'RACE'] = "02. INDIAN"
asb_base1.loc[asb_base1.RACE_DESC == "MALAY", 'RACE'] = "03. MALAY"
asb_base1.loc[asb_base1.RACE_DESC == "NATIVE", 'RACE'] = "04. NATIVE"
asb_base1.loc[asb_base1.RACE_DESC.isin(["?","OTHERS"]), 'RACE'] = "05. OTHERS"

asb_base1.fillna(0, inplace = True)

D:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5,22) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\anaconda3\lib\site-packages\pandas\core\frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [4]:
asb_base1.head(1)

,Reporting_Date,Party_ID,account_num,Branch,MBB_Entity_Cd,Age,Age_Group,M_Date_First_Released,M_Date_AA_Approved,MBB_Loan_Tenure,Account_Type_Cd,M_NPL_DATE1,M_NPL_FLG,M_Mths_Installment_In_Arrears,Installment_Amt,INT_BASE_RT,INT_SPRD,RACE_CD,RACE_DESC,OCC_DESC,Marital_Status,Religion,Education_Level,Approved_Limit,EAD,RWA,EL,Gen_5,Gen_6,MBB_Islamic_Ind,Acct_Status_Type_Cd,MBB_Charge_Off_Type,MBB_Sub_Market_Segment_Desc,MBB_Sub_Market_Segment,CUSTOMER_SEGMENT,Income_Group,M_Mths_In_Arrears,AA_NUMBER,PB_Flg,Month_Key,Name,No_Of_Accounts,State,Region,Account_Balance_Summary_Amt,PRODUCT_DESC,OCC_SECTOR_CODE,OCC_SECTOR_DESC,DSR_RATIO,MRGN_OF_ADVN,RISK_GRADE_VAL,EMP_TYPE_CD,EMP_TYPE_DESC,CORONA_FLAG,CORONA_TAG_DATE,INDUL_STRT_DATE,INDUL_END_DATE,CORONA2_FLAG,CORONA2_TAG_DATE,RA1_FLAG,RA1_DATE,RA2_FLAG,RA2_DATE,RA3_FLAG,RA3_DATE,RA4_FLAG,RA4_DATE,RA5_FLAG,RA5_DATE,RA6_FLAG,RA6_DATE,RA7_FLAG,RA7_DATE,RA8_FLAG,RA8_DATE,RA9_FLAG,RA9_DATE,RA10_FLAG,RA10_DATE,RA11_FLAG,RA11_DATE,RA12_FLAG,RA12_DATE,RA13_DATE,RA14_FLAG,RA14_DATE,RA15_FLAG,RA15_DATE,REM_RESCHEDULE_STRT_DT,REM_RESCHEDULE_STRT_DT.1,RESPANDA_STRT_DT,RSTPANDA_STRT_DT,RESCHN_STRT_DT,RESTRN_STRT_DT,RMVRESPA_STRT_DT,RMVRSTPA_STRT_DT,RMVRECHN_STRT_DT,RMVRESTN_STRT_DT,PEMULIH_FLAG,PEMULIH_DATE,PEMULIH_END_DATE,RAEXTEND_FLAG,RAEXTEND_DATE,RAEXTEND_DATE.1,NEW_IC_NUM,OTHER_ID,OTHER_ID_TYPE,STAGE_CLASSIFICATION,ECL_CLOSING_FY_MYR,EAD_MYR,M_NPL_DATE,OSM,NOA,OSM_MIA2,NOA_MIA2,OSM_MIA3,NOA_MIA3,OSM_IF,NOA_IF,OSM_NCIF,NOA_NCIF,LOAN_TENURE_GROUP,MATURITY_DATE,REMAINING_TENURE,REM_TENURE_GROUP,MOB,YEAR_APPROVED,INCOME_GROUP_NEW,SEGMENT_GROUP,AGE_GROUP_NEW,REGION_GROUP,RACE
0,31/12/2021,6014933,464717017802,IBS KL SENTRAL,I,50,50 to <55 years,29/07/2016,14/07/2016,19,U1,00/00/0000,N,0,841.0,1.75,1.9,MALAY,MALAY,MANAGING DIRECTORS AND CHIEF EXECUTIVES,MARRIED,?,4,130788.0,110145.15,6547.63,56.03000000,Term Loans,Unit Trust,I,ACTIVE,?,CFS-IND,?,EMERGING AFFLUENT,"Above RM 20,000",0,?,?,31/12/2021,RAFIQ BIN MD KHALILI,464717017802,FED. TERRITORY,FEDERAL TERRITORY,110145.15,ASB FINANCING-I,H1000,TRANSPORTATION AND STORAGE,75.59,100.00000000,R4,112,Government Employee,?,?,01/01/1900,01/01/1900,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,01/01/1900,N,01/01/1900,?,?,?,?,?,?,?,?,?,?,?,?,N,01/01/1900,31/12/9999,N,01/01/1900,31/12/9999,710109086693,A1761223,IC,STAGE1,44.21,138168.69,000000,0.11,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,04.16 TO 20 YEARS,2035,14,03.11 TO 15 YEARS,66.13,2016,Not Populated,02.Emerging Affluent,07.50 to 54 Years Old,08.FEDERAL TERRITORY,03. MALAY

In [5]:
#asb_base1.OSM = asb_base1.OSM.str.strip()
asb_base1.loc[asb_base1.OSM=='?','OSM'] = 0
asb_base1.OSM = asb_base1.OSM.astype(float)

#asb_base1.EXPECTED_LOSS = asb_base1.EXPECTED_LOSS.str.strip()
asb_base1.loc[asb_base1.EL=='?','EL'] = 0
asb_base1.EL = asb_base1.EL.astype(float)

#asb_base1.EAD = asb_base1.EAD.str.strip()
asb_base1.loc[asb_base1.EAD=='?','EAD'] = 0
asb_base1.EAD = asb_base1.EAD.astype(float)

#asb_base1.RWA = asb_base1.RWA.str.strip()
asb_base1.loc[asb_base1.RWA=='?','RWA'] = 0
asb_base1.RWA = asb_base1.RWA.astype(float)


RISK = asb_base1.fillna(0).groupby(['RISK_GRADE_VAL'])[['OSM','EL','EAD','RWA']].sum().reset_index()

D:\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
D:\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
D:\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [6]:
#-------------------------------------------SORTBY(EXCEL)

writer2 = pd.ExcelWriter(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\07_Yearly_Reporting\Budget\BudgetFY21\working - SH\UT_CFS'+str(RDATE)+'(python).xlsx',engine='xlsxwriter')
    

asb_base1.to_excel(writer2, sheet_name='Base', index = False)
RISK.to_excel(writer2, sheet_name='UT', index = False)


writer2.save()

In [ ]:
#row = ['OSM','NOA','OSM_MIA2','NOA_MIA2','OSM_MIA3','NOA_MIA3','OSM_IF','NOA_IF','OSM_NCIF','NOA_NCIF']

#/* BY CUSTOMER PROFILE */
#INCOME_GROUP_NEW = asb_base1.groupby(['INCOME_GROUP_NEW'])[row].sum().reset_index()
#INCOME_GROUP_NEW1 = asb_base1.groupby(['AGE_GROUP_NEW'])[row].sum().reset_index()
#INCOME_GROUP_NEW2 = asb_base1.groupby(['RACE'])[row].sum().reset_index()
#INCOME_GROUP_NEW3 = asb_base1.groupby(['SEGMENT_GROUP'])[row].sum().reset_index()
#INCOME_GROUP_NEW4 = asb_base1.groupby(['REGION_GROUP'])[row].sum().reset_index()
#INCOME_GROUP_NEW5 = asb_base1.groupby(['OCC_DESC'])[row].sum().reset_index()

#/* BY LOAN PROFILE */
#INCOME_GROUP_NEW6 = asb_base1.groupby(['LOAN_TENURE_GROUP'])[row].sum().reset_index()
#INCOME_GROUP_NEW7 = asb_base1.groupby(['REM_TENURE_GROUP'])[row].sum().reset_index()
#INCOME_GROUP_NEW8 = asb_base1.groupby(['YEAR_APPROVED'])[row].sum().reset_index()

#writer2 = pd.ExcelWriter(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\06_Unit_Trust\04_Dataset\\"+str(RDATE1)+"\\ASB_"+str(RDATE1)+"(python).xlsx",engine='xlsxwriter')

    
#INCOME_GROUP_NEW.to_excel(writer2, sheet_name='INCOME_GROUP_NEW', index = False)
#INCOME_GROUP_NEW1.to_excel(writer2, sheet_name='AGE_GROUP_NEW', index = False)
#INCOME_GROUP_NEW2.to_excel(writer2, sheet_name='RACE', index = False)
#INCOME_GROUP_NEW3.to_excel(writer2, sheet_name='SEGMENT_GROUP', index = False)
#INCOME_GROUP_NEW4.to_excel(writer2, sheet_name='REGION_GROUP', index = False)
#INCOME_GROUP_NEW5.to_excel(writer2, sheet_name='OCC_DESC', index = False)
#INCOME_GROUP_NEW6.to_excel(writer2, sheet_name='LOAN_TENURE_GROUP', index = False)
#INCOME_GROUP_NEW7.to_excel(writer2, sheet_name='REM_TENURE_GROUP', index = False)
#INCOME_GROUP_NEW8.to_excel(writer2, sheet_name='YEAR_APPROVED', index = False)

#writer2.save()

In [45]:
INCOME_GROUP_NEW7

,REM_TENURE_GROUP,OSM,NOA,OSM_MIA2,NOA_MIA2,OSM_MIA3,NOA_MIA3,OSM_IF,NOA_IF,OSM_NCIF,NOA_NCIF
0,01.UP TO 5 YEARS,510.28,24121,3.48,190.0,0.73,43.0,0.42,32.0,0.29,17.0
1,02.6 TO 10 YEARS,1241.44,29257,10.59,248.0,0.95,39.0,0.58,36.0,0.35,21.0
2,03.11 TO 15 YEARS,2472.76,47541,17.46,371.0,2.23,52.0,1.45,44.0,0.60,25.0
3,04.16 TO 20 YEARS,5484.70,91397,44.14,859.0,5.63,121.0,2.83,112.0,2.28,69.0
4,05.21 TO 25 YEARS,4432.62,51326,29.70,391.0,3.43,57.0,2.12,144.0,1.23,73.0
5,06.26 TO 30 YEARS,10827.19,134866,82.81,1279.0,12.46,212.0,6.61,658.0,5.53,407.0
6,07.ABOVE 30 YEARS,223.32,2631,0.32,4.0,0.00,0.0,0.00,0.0,0.00,0.0

In [44]:
unit_trust.M_Date_First_Released.value_counts()

28/02/2019    1544
31/01/2019    1398
31/01/2020    1333
30/11/2021    1287
30/09/2021    1213
              ...
27/03/2002       1
27/07/2002       1
25/10/2003       1
28/06/2002       1
31/05/2002       1
Name: M_Date_First_Released, Length: 4935, dtype: int64

In [46]:
unit_trust.MBB_Loan_Tenure.value_counts()

30    144176
25    126878
20     49385
15     21236
10     17137
24      8638
23      8493
22      8152
27      7956
28      7759
18      7120
29      6566
17      6102
21      5738
19      5722
5       5278
26      5186
16      5078
12      4979
14      4537
13      4164
11      3138
32      2402
35      2242
8       2169
9       2121
7       1741
6       1267
33      1059
31       611
34       124
4        107
3         42
2          8
1          2
Name: MBB_Loan_Tenure, dtype: int64