In [1]:
import openpyxl
import pandasql
import pyxlsb
import pandas as pd
import numpy as np
import sqlite3
import openpyxl
import matplotlib
import textblob
import vaderSentiment
import lxml
import sklearn
import statsmodels
import seaborn

#import scikit
#import NLTK
#import selenium
#import beautifulsoup4

In [1]:
import openpyxl

2

In [3]:
LoanBase = pd.read_excel(r'C:\Users\syahidhalid\OneDrive - Export-Import Bank of Malaysia (EXIM Bank)\Desktop\Work\00 SYAHIRAH\CSP 2024\Working\LOAN BASE\Loan Database 2019 until June 2023.xlsx', header=2)

In [4]:
LoanBase.head(1)

,No.,CIF Number,EXIM Account No.,Application System Code,CCRIS Master Account Number,CCRIS Sub Account Number,Finance(SAP) Number,Company Group,Customer Name,Relationship Manager (RM),...,Overdue Amount (MYR),Date Classified as Watchlist,Watchlist Reason,Date Declassified from Watchlist,Date Impaired,Reason for Impairment,Partial Write off Date,Write off Date,Cancellation Date/Fully Settled Date,Position as At
0,1.0,EXIM000012,3308-01137-209-0014-00,NaN,NaN,NaN,500187,Jewel Growth Sdn Bhd,Jewel Growth Sdn Bhd,ARRD,...,0.0,NaT,NaN,NaT,2020-06-25,"Technical, acct transferred in 2020 but overdu...",NaT,2021-12-21,NaT,2023-06-30

In [5]:
LoanBase.describe()

,No.,Date of Ready for Utilization (RU),Amount Approved / Facility Limit (Facility Currency),Amount Approved / Facility Limit (MYR),Cost/Principal Outstanding (Facility Currency),Cost/Principal Outstanding (MYR),Contingent Liability Letter of Credit (Facility Currency),Contingent Liability Letter of Credit (MYR),Contingent Liability (Facility Currency),Contingent Liability (MYR),...,Moratorium Period (Month),Tenure (Month),Profit/Interest Margin,Average Profit/Interest Rate,Date Untagged from R&R,Date of Overdue,Overdue (Days),Month in Arrears,Overdue Amount (Facility Currency),Overdue Amount (MYR)
count,394.000000,0.0,3.950000e+02,3.950000e+02,3.960000e+02,3.970000e+02,395.000000,397.000000,3.950000e+02,3.970000e+02,...,32.000000,350.000000,200.000000,209.000000,5.000000,0.0,0.0,76.000000,398.0,397.0
mean,197.500000,NaN,4.470648e+07,1.411466e+08,7.031965e+06,3.569232e+07,1995.001519,4672.373804,4.116118e+05,1.023319e+06,...,6.500000,50.968571,2.277625,4.604959,45006.400000,NaN,NaN,73.315789,0.0,0.0
std,113.882249,NaN,4.452020e+08,1.404714e+09,7.132021e+07,3.370604e+08,26089.643108,48933.654866,4.750848e+06,1.016333e+07,...,1.524002,49.435456,1.043026,3.530740,91.492076,NaN,NaN,41.837530,0.0,0.0
min,1.000000,NaN,0.000000e+00,0.000000e+00,-8.567526e+05,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,...,6.000000,0.000000,0.000000,0.000000,44846.000000,NaN,NaN,7.000000,0.0,0.0
25%,99.250000,NaN,2.000000e+06,4.665000e+06,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,...,6.000000,12.000000,1.692500,0.000000,45036.000000,NaN,NaN,51.000000,0.0,0.0
50%,197.500000,NaN,6.578558e+06,2.000000e+07,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,...,6.000000,38.000000,2.400000,5.390000,45036.000000,NaN,NaN,68.500000,0.0,0.0
75%,295.750000,NaN,2.250000e+07,9.330000e+07,3.839295e+05,6.989422e+05,0.000000,0.000000,0.000000e+00,0.000000e+00,...,6.000000,84.000000,3.000000,7.300000,45036.000000,NaN,NaN,102.000000,0.0,0.0
max,394.000000,NaN,8.829529e+09,2.787646e+10,1.392757e+09,4.723284e+09,394012.800000,618310.800000,8.129332e+07,1.354192e+08,...,12.000000,231.000000,6.000000,10.980000,45078.000000,NaN,NaN,187.000000,0.0,0.0

In [8]:
A = LoanBase.iloc[np.where(~(LoanBase['No.'].isna()))]

In [10]:
A.head(1)

,No.,CIF Number,EXIM Account No.,Application System Code,CCRIS Master Account Number,CCRIS Sub Account Number,Finance(SAP) Number,Company Group,Customer Name,Relationship Manager (RM),...,Overdue Amount (MYR),Date Classified as Watchlist,Watchlist Reason,Date Declassified from Watchlist,Date Impaired,Reason for Impairment,Partial Write off Date,Write off Date,Cancellation Date/Fully Settled Date,Position as At
0,1.0,EXIM000012,3308-01137-209-0014-00,NaN,NaN,NaN,500187,Jewel Growth Sdn Bhd,Jewel Growth Sdn Bhd,ARRD,...,0.0,NaT,NaN,NaT,2020-06-25,"Technical, acct transferred in 2020 but overdu...",NaT,2021-12-21,NaT,2023-06-30